.form input[type="submit"]{
    margin-left: 1rem;
   
}

.form input[type="password"]{
    margin-left: 4.8rem;
}

.form{
    margin-top: 1rem;
    width: 40%;
    margin-left: 25rem;
    padding: 1rem;
   
}

.form p{
    font-weight: bold;
}

